option_settings:

  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "misite.settings"
    "PYTHONPATH": "/opt/python/current/app/misite:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: misite/misite/wsgi.py


packages:
  yum:
    git: []
    postgresql93-devel: []
