option_settings:

  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "misite.settings"
    "PYTHONPATH": "/opt/python/current/app/misite:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: misite/misite/wsgi.py


packages:
  yum:
    git: []
    postgresql93-devel: []

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python misite/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python misite/manage.py collectstatic --noinput"
