{% extends "plan/base.html" %}

{% block content %}

<!--{% load static %}
<img src="{% static "plan/food_1.jpeg" %}" /> 
-->

<div class="row" style="padding-top:3rem">
  
    <div class="col-md-12">
  
    <div class="masonry">
      {% if latest_recipe_list %}
      {% for recipe in latest_recipe_list %}
      <div class='shot'>
        <a href="{{ recipe.id }}/">
          <img src="http://via.placeholder.com/200x150">

          <!--<img src="/static/plan/180food_{{ recipe.id }}.jpg" alt="{{ recipe.title }}">-->
          <!--<h4>{{ recipe.title }}</h4>-->
        </a>
      </div>
      <!--<div class="remove">
        <a href="removerecipe/{{ recipe.id }}/">x</a>
      </div>-->
      {% endfor %}
      {% endif %}
      <a href="recipes" class='shot' style="text-decoration: none;">
        <img style="height: 180px; width: 180px; border: 1px black dotted;" class="rounded">
        <h4  style="font-size: 60px; margin:-138px 0 0 64px; color:#999;">+</h4>
      </a>
    </div>
  </div>
 


    <div class='col-md-12'>
      <div class="grocery">
        <table class="table">
          <tbody>
          {% for ingredient_group in ingredient_list %}
          {% for ingredient in ingredient_group %}
          {% if forloop.first %}
            <tr>
              <th colspan="4">{{ ingredient.component.department }}</th>
            </tr>
          {% endif %}

            <tr>
              <td>
                <div class="customCheckbox">
                  <input type="checkbox" value="1" id="customCheckbox_{{ ingredient.name }}" name=""/>
                  <label for="customCheckbox_{{ ingredient.name }}"></label>
                </div>
              </td>
              <td>{{ ingredient.amount|floatformat:2 }} {{ ingredient.unit }} {{ ingredient.name }}</td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
          {% endfor %}
          </tbody>
        </table>

      </div><!--grocery-->
    </div>
    <h5> {{ num_visits}}</h5>
  </div>

 
{% endblock %}