{% extends "plan/base.html" %}

{% block content %}

<div class="row" style="padding-top:3rem">
  {% if latest_recipe_list %}
    <div class="col-md-6">
    {% for recipe in latest_recipe_list %}
      <a href="{{ recipe.id }}/">
        <div class="item rounded">
          <img src="http://via.placeholder.com/80x80" class="food_image rounded">
          <div class="the-text">
            <p style="color:black">{{ recipe.title }}</h4>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>

{% endif %}
    <div class='col-md-6'>
      <div class="grocery">
        <table class="table">
          <tbody>
          {% for ingredient_group in ingredient_list %}
          {% for ingredient in ingredient_group %}
          {% if forloop.first %}
            <tr>
              <th>{{ ingredient.component.department }}</th>
              <th></th>
              <th></th>
            </tr>
          {% endif %}

            <tr>
              <td>{{ ingredient.name }}</td>
              <td>{{ ingredient.amount|floatformat:2 }}</td>
              <td>{{ ingredient.unit }}</td>
            </tr>
          {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div><!--grocery-->
    </div>
    <form action="ajax/test/" method="POST" id="post-form">
      {% csrf_token %}
      <div class="fieldWrapper">
          Words
      <input type="text" id="post-text">
      <input type="submit" value="Post">
    </form>
  </div>

 
{% endblock %}