{% extends "plan/base.html" %}

{% block content %}

<div class="row" style="padding-top:3rem">
  {% if latest_recipe_list %}
    <div class="col-md-6">
    {% for recipe in latest_recipe_list %}
      <a href="{{ recipe.id }}/">
        <div class="item rounded">
          <img src="http://via.placeholder.com/80x80" class="food_image rounded">
          <div class="the-text">
            <p style="color:black">{{ recipe.title }}</p>
          </div>
        </div>
      </a>
    {% endfor %}
    <a href="recipes">
          <div style="height: 40px; text-align: center; background: rgba(0,0,0,0.1); color: black; font-size: 20pt">+</div>
    </a>
    </div>

{% endif %}
    <div class='col-md-6'>
      <div class="grocery">
        <table class="table">
          <tbody>
          {% for ingredient_group in ingredient_list %}
          {% for ingredient in ingredient_group %}
          {% if forloop.first %}
            <tr>
              <th colspan="4">{{ ingredient.component.department }}</th>
            </tr>
          {% endif %}

            <tr>
              <td><input type="checkbox" name="myTextEditBox" value="checked" 
      style="margin-left:auto; margin-right:auto;"></td>
              <td>{{ ingredient.amount|floatformat:2 }}</td>
              <td>{{ ingredient.unit }}</td>
              <td>{{ ingredient.name }}</td>
            </tr>
          {% endfor %}
          {% endfor %}
          </tbody>
        </table>

      </div><!--grocery-->
    </div>
    <h5> {{ num_visits}}</h5>
  </div>

 
{% endblock %}