{% extends "plan/base.html" %}

{% block content %}

<div class="row" style="padding-top:3rem">
  {% if latest %}
    <div class="col-md-12">
      <div class="masonry">
      {% for recipe in latest %}
        <a href="/addrecipe/{{ recipe.id }}/" class='shot'>
          <img src="/static/plan/200food_{{ recipe.id }}.jpg" alt="Food image" class="rounded">
          <!--<h4>{{ recipe.title }}</h4>-->
        </a>
      {% endfor %}
      </div>
      {% endif %}
    </div>
</div>


{% endblock%}