body {
  background: #FFFDF6;
}

.starter-template {
  padding: 3rem 1.5rem;
}

.item {
	height:100px;
	background:white;
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.14);
}
.food_image{
	margin-top:10px; 
	margin-left: 10px; 
	float:left
}

.the-text { 
	padding-top:1rem; 
	margin-left:100px;
}

.remove {
	position: relative;
	top:14px;
	right:32px;
}
.remove a {
	color: rgba(255,255,255,0.9);
}

.table td, .table th {
	border-top: none;
	padding: 0.4rem;
}

.table th {
	color: rgb(73,58,37);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(73,58,37,.05);
}

.navbar {
	padding: 0.75rem 0;
	border-bottom: 1px solid rgba(73,58,37,.15);
}

.navbar img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.navbar img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

input[type=checkbox] {
	visibility: hidden;
}

.customCheckbox {
	width: 13px;
	height: 13px;
	border:1px solid rgba(0,0,0,0.3);
	margin: 6px -10px 0 0;
	border-radius: 27%;
	position: relative;

}

.customCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0;
  	left: 0;
}

/* Override bootstraps media query */
@media (min-width: 1200px) {
.container{
	width: 960px;
}
}

.customCheckbox label:after {
	opacity: 0.0;
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 3px;
	left: 2px;
	border: 2px solid rgba(0,0,0,0.7);
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.customCheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.masonry {
	display: flex; 
  	flex-wrap: wrap;
  	align-items: flex-start;
}

.shot {
	width: 180px;
	margin: 10px;
	border-radius: 100px;

}

.shot h4 {
	color:black;
	font-size: 14pt;
	padding:4px;

}

.shot a:hover {
	text-decoration: none;
}